{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
    Masterclass | {{ masterclass.name }}
{% endblock title %}

{% block content %}
    <section class="masterclass d-flex gap-2 flex-column">
        <h1>{{ masterclass.name }}</h1>

        {% for category in masterclass.category.all %}
            <div class="category">{{ category }}</div>
        {% endfor %}

        <textarea class="form-control" readonly>
{{ masterclass.description }}</textarea
        >

        {% if masterclass.mc_type.name == "public" %}
            <input class="form-control" type="text" readonly value="{{ date }}" />
        {% endif %}

        <textarea class="form-control" readonly>
{{ masterclass.location }}</textarea
        >
        <input class="form-control"
               type="number"
               readonly
               value="{{ masterclass.student_age }}"/>
        <input class="form-control"
               type="number"
               readonly
               value="{{ masterclass.students_amount }}"/>

        {% if masterclass.mc_type.name == "public" %}
            <h2>Students</h2>
            <ul class="list-group">

                {% for student in masterclass.students.all %}
                    <li class="list-group-item" class="student">
                        {{ student }}
                    </li>
                {% endfor %}

            </ul>
        {% endif %}
        <h2>Join to Masterclass</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Save" %}
            {% bootstrap_button button_type="reset" content="Clear" %}
        </form>
    </section>
{% endblock content %}
