<!DOCTYPE html>
{# Load the tag library #}

{% load static %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>

            {% block title %}
            {% endblock title %}

        </title>
        {# Include FontAwesome; required for icon display #}
        <link rel="stylesheet"
              href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

        {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
        {{ form.media }}
        <link rel="stylesheet" href="{% static 'pages/base.css' %}"/>
    </head>
    <body>

        {% include "header.html" %}

        {% block header %}
        {% endblock header %}

        <main class="main">

            {% block content %}
            {% endblock content %}

        </main>
    </body>
</html>
