{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <form class="search-form mb-5 row" method="get">
        <div class="col-8">
            <input class="form-control col-8"
                   type="text"
                   name="search"
                   id="search"
                   placeholder="Search Masterclass"/>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </div>
    </form>
    <section class="cards d-flex gap-2 flex-wrap">

        {% for mc in masterclasses %}
            <div class="card" style="width: 18rem">

                {% if mc.cover %}
                    <img class="card-img-top" src="{{ mc.cover.url }}" alt="Card image cap"/>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ mc.name }}</h5>
                    <div>

                        {% for category in mc.category.all %}
                            <span>#{{ category }}</span> |
                        {% endfor %}

                    </div>
                    <p class="card-text">{{ mc.description }}</p>
                    <a href="{% url 'masterclass_view' mc.id %}" class="btn btn-primary">
                        Open
                    </a>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock content %}
